<h1>Articl.es</h1>
<p id="notice"><%= notice %></p>



<%= link_to(image_tag("book_edit.png", :border => 0), edit_article_path(@article)) %> |
<%= link_to(image_tag("arrow_undo.png", :border => 0), articles_path) %>

<p>
  <%= @article.title %>
</p>

<p>
  by <%= @article.author_name %>.  XXX edits since <%= @article.creation_date %>.
</p>

<p>
  <%= @article.body %>
</p>