%p#notice= notice
%p
  %b Name:
  = @user.name
%p
  %b Password:
  = @user.password
%p
  %b Firstname:
  = @user.firstName
%p
  %b Lastname:
  = @user.lastName
%p
  %b Email:
  = @user.email
%p
  %b Imagepath:
  = @user.imagePath
%p
  %b Role:
  = @user.role
%p
  %b Numgames:
  = @user.numGames
= link_to 'Edit', edit_user_path(@user)
={link_to 'Back', users_path}