<h1>Articl.es</h1>

<sub>All the World's Articles</sub>
<lin><%= link_to(image_tag("book_add.png", :border => 0), new_article_path) %><span>Create an Article</span></lin> <!--todo-->

<div style="overflow:scroll; height:355px">
<table>

  <tr class="list_description">
    <th>Title</th>
    <th>Author Name</th>
    <th>Body</th>
    <th>Creation Date</th>
    <th>Actions</th>
  </tr>


<!--<subtitle> < article.article_data.subtitle %> </subtitle> 
offset = rand(Widget.count :all)
Widget.find :first, :offset => offset-->

<% @articles.each do |article| %>


  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <p class="body_actions">
    <td><%= article.title %></td>
    <td><%= article.author_name %></td>
    <td>
      <p class="body_actions">
        <%= article.body %>
      </p>
    </td>
    <td><%= article.creation_date.strftime("%A, %b. %d %Y") %></td>


    <td class="list_actions">
      <lin><%= link_to(image_tag("book_go.png", :border => 0), article) %><span>View Article</span></lin>
      <lin><%= link_to(image_tag("book_edit.png", :border => 0), edit_article_path(article)) %><span>Edit Article</span></lin>
      <lin><%= link_to(image_tag("bin.png", :border => 0), article, confirm: 'Are you sure you wish to delete this article?', method: :delete) %><span>Delete Article</span></lin>
    </td>
    </p>
  </tr>

<% end %>
</table>
</div>
<br />

<p>
<%= Article.count %> Articles in Database
</p>

